version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: userr12345/kittygram_backend:latest
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media/
    depends_on:
      - db
  frontend:
    image: userr12345/kittygram_frontend:latest
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static/
  gateway:
    image: userr12345/kittygram_gateway:latest
    volumes:
      - static:/staticfiles/
      - media:/media/
    depends_on:
      - db
    ports:
      - 9000:80